
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body ng-controller="MovieController as movieControl">
Klikninj na film aby dowiedzieć się w jakich kinach jest grany.
<br>


<ul>
    <li ng-repeat="mov in movieControl.movies" ng-click="movieControl.loadData(mov.id)">
         {{mov.title}} - {{mov.director}} ({{mov.filmGenre}})
    </li>
</ul>

<select ng-show="movieControl.details">
    <option ng-repeat="se in movieControl.details.seances" ng-click="movieControl.showMovies(se.cinema.city)">{{se.cinema.city}}</option>
</select>

<table border="1" ng-show="movieControl.details">
    <thead>
    <tr>
        <th>Dzień</th>
        <th>Godzina</th>
        <th>Typ</th>
        <th>Kino</th>
        <th>Wolne miejsca</th>
        <th>Rezerwuj</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="se in movieControl.details.seances">
        <td>{{se.day}}</td>
        <td>{{se.hour}}</td>
        <td>{{se.type}}</td>
        <td>{{se.cinema.city}}, {{se.cinema.address}}</td>
        <td>{{se.freeSeats}}/{{se.freeSeats + se.reservatedSeats}}</td>
        <!--<td><a ng-href="" ng-click=" movieControl.addReservation(se.id)">Reserv</a> </td>-->
        <td><button style="height: 20px; width: 80px" ng-click=" movieControl.addReservation(se.id)">Rezerwuj!</button> </td>
    </tr>
    </tbody>
</table>

<div ng-show="movieControl.det">
    Zarezerwowano! Twój identyfikatro rezerwacji to: <b>{{movieControl.det.name}}</b>, zapisz go i podaj przy kasie biletowej.
</div>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>